[Unit]
Description=Catalogue Service
After=network.target

[Service]
User=roboshop
Environment=MONGO=true
Environment=MONGO_URL=mongodb://{{ MONGODB_HOST }}:27017/catalogue
WorkingDirectory=/app
ExecStart=/bin/node /app/server.js
SyslogIdentifier=Catalogue
Restart=always

[Install]
WantedBy=multi-user.target